In [1]:
from census import Census

In [2]:
from us import states

In [3]:
print(states.CA.shapefile_urls()['block'])

https://www2.census.gov/geo/tiger/TIGER2010/TABBLOCK/2010/tl_2010_06_tabblock10.zip

In [4]:
c = Census('45abd686abf7a53c954b1e3d26eadca0631584fa')

https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=ACS_17_5YR_B03002&prodType=table

In [5]:
c.acs5.state(('NAME', 'B25034_010E'), states.MD.fips, year=2010)

[{'NAME': 'Maryland', 'B25034_010E': 282894.0, 'state': '24'}]

In [6]:
c.acs5.state_place(
    (
        'B03002_001E', # total
        'B03002_003E', # white
        'B03002_004E', # black
        'B03002_006E', # asian
        'B03002_012E', # latino
    ),
    '06',
    '53476',
    year=2017
)

[{'B03002_001E': 7594.0,
  'B03002_003E': 6247.0,
  'B03002_004E': 15.0,
  'B03002_006E': 160.0,
  'B03002_012E': 917.0,
  'state': '06',
  'place': '53476'}]

In [7]:
c.acs5.get(
    (
        'B03002_001E', # total
        'B03002_003E', # white
        'B03002_004E', # black
        'B03002_006E', # asian
        'B03002_012E', # latino
    ),
    geo={'for':'place:53476', 'in':'state:06'},
    year=2017
)

[{'B03002_001E': 7594.0,
  'B03002_003E': 6247.0,
  'B03002_004E': 15.0,
  'B03002_006E': 160.0,
  'B03002_012E': 917.0,
  'state': '06',
  'place': '53476'}]

In [9]:
[d for d in c.sf1.tables() if d['name'].startswith('P5')]

[{'name': 'P5',
  'description': 'HISPANIC OR LATINO ORIGIN BY RACE',
  'variables': 'https://api.census.gov/data/2010/dec/sf1/groups/P5.json'},
 {'name': 'P50',
  'description': 'ALLOCATION OF RELATIONSHIP',
  'variables': 'https://api.census.gov/data/2010/dec/sf1/groups/P50.json'},
 {'name': 'P51',
  'description': 'ALLOCATION OF POPULATION ITEMS FOR THE POPULATION IN GROUP QUARTERS',
  'variables': 'https://api.census.gov/data/2010/dec/sf1/groups/P51.json'}]

In [10]:
c.sf1.get(
    (
        'P005001', # total
        'P005003', # white
        'P005004', # black
        'P005006', # asian
        'P004003', # latino
    ),
    geo={'for':'place:53476', 'in':'state:06'},
    year=2010
)

[{'P005001': 7461.0,
  'P005003': 5754.0,
  'P005004': 36.0,
  'P005006': 152.0,
  'P004003': 1339.0,
  'state': '06',
  'place': '53476'}]

In [11]:
c.sf1.get(
    (
        'P008001', # total
        'P008003', # white
        'P008004', # black
        'P008006', # asian
        'P008010', # latino
    ),
    geo={'for':'place:53476', 'in':'state:06'},
    year=2000
)

[{'P008001': '7862',
  'P008003': '6259',
  'P008004': '46',
  'P008006': '124',
  'P008010': '1245',
  'state': '06',
  'place': '53476'}]

In [12]:
c.sf1.get(
    (
        'P0080001', # total
#         'P008003', # white
#         'P008004', # black
#         'P008006', # asian
#         'P008010', # latino
    ),
    geo={'for':'place:53476', 'in':'state:06'},
    year=1990
)

[{'P0080001': 928.0, 'state': '06', 'place': '53476'}]