In [1]:
import pandas as pd

In [2]:
districts = ['assembly','senate','congressional']

In [3]:
def readtracts(d):
    dist = pd.read_csv('blocks-{}districts.csv'.format(d), header=None, skiprows=2, dtype=str)
    dist.columns = ['countyfp','tract','block','legdist_{}'.format(d[0]),'county','population','alloc']
    dist['legdist_{}'.format(d[0])] = dist['legdist_{}'.format(d[0])].str.pad(width=3, fillchar='0')
    dist['geoid'] = dist.countyfp + dist.tract.str.replace('.','') + dist.block
    return dist.set_index(['geoid','county','population'])[['legdist_{}'.format(d[0])]]

In [4]:
data = {d: readtracts(d) for d in districts}

In [5]:
[len(d) for d in data.values()]

[710145, 710145, 710145]

In [6]:
data['assembly'].head()

                                      legdist_a
geoid           county     population
060014001001000 Alameda CA 0                015
060014001001001 Alameda CA 0                015
060014001001002 Alameda CA 0                015
060014001001003 Alameda CA 0                015
060014001001004 Alameda CA 0                015

In [7]:
data['congressional'].head()

                                      legdist_c
geoid           county     population
060014001001000 Alameda CA 0                013
060014001001001 Alameda CA 0                013
060014001001002 Alameda CA 0                013
060014001001003 Alameda CA 0                013
060014001001004 Alameda CA 0                013

In [8]:
alldist = pd.concat([data['congressional'], data['assembly'], data['senate'],], axis=1).reset_index()

In [9]:
len(alldist)

710145

In [10]:
alldist['district_code'] = 'c' + alldist.legdist_c + 'a' + alldist.legdist_a + 's' + alldist.legdist_s

In [11]:
alldist.head()

,geoid,county,population,legdist_c,legdist_a,legdist_s,district_code
0,060014001001000,Alameda CA,0,013,015,009,c013a015s009
1,060014001001001,Alameda CA,0,013,015,009,c013a015s009
2,060014001001002,Alameda CA,0,013,015,009,c013a015s009
3,060014001001003,Alameda CA,0,013,015,009,c013a015s009
4,060014001001004,Alameda CA,0,013,015,009,c013a015s009

In [12]:
alldist.to_csv('blocks-uniquedistricts-xwalk.csv', index=False)

In [13]:
len(alldist)

710145