In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
BLOCKS = gpd.read_file('ca-blocks-shapes/tl_2010_06_tabblock10.shp')

In [3]:
BLOCKS.head()

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYP10,FUNCSTAT10,ALAND10,AWATER10,INTPTLAT10,INTPTLON10,geometry
0,06,001,410000,2024,060014100002024,Block 2024,G5040,U,78904,U,S,1180,0,+37.7514499,-122.1244488,"POLYGON ((-122.124886 37.751635, -122.12476 37..."
1,06,001,407300,2017,060014073002017,Block 2017,G5040,U,78904,U,S,553,0,+37.7700438,-122.2099801,"POLYGON ((-122.210245 37.770097, -122.210139 3..."
2,06,001,408100,2011,060014081002011,Block 2011,G5040,U,78904,U,S,11797,0,+37.7945823,-122.1820803,"POLYGON ((-122.18212 37.794933, -122.181836 37..."
3,06,001,401000,2002,060014010002002,Block 2002,G5040,U,78904,U,S,598,0,+37.8343484,-122.2699940,"POLYGON ((-122.27004 37.833991, -122.270125 37..."
4,06,001,406100,1005,060014061001005,Block 1005,G5040,U,78904,U,S,139,0,+37.7783082,-122.2273093,"POLYGON ((-122.227202 37.778303, -122.227263 3..."

In [4]:
blocks = BLOCKS[['GEOID10','geometry']]
blocks.columns = ['geoid','geometry']

In [5]:
blocks.head()

             geoid                                           geometry
0  060014100002024  POLYGON ((-122.124886 37.751635, -122.12476 37...
1  060014073002017  POLYGON ((-122.210245 37.770097, -122.210139 3...
2  060014081002011  POLYGON ((-122.18212 37.794933, -122.181836 37...
3  060014010002002  POLYGON ((-122.27004 37.833991, -122.270125 37...
4  060014061001005  POLYGON ((-122.227202 37.778303, -122.227263 3...

In [6]:
xwalk = pd.read_csv('blocks-uniquedistricts-xwalk.csv', dtype={'geoid':str})

In [7]:
xwalk.head()

,geoid,county,population,legdist_c,legdist_a,legdist_s,district_code
0,060014001001000,Alameda CA,0,13,15,9,c013a015s009
1,060014001001001,Alameda CA,0,13,15,9,c013a015s009
2,060014001001002,Alameda CA,0,13,15,9,c013a015s009
3,060014001001003,Alameda CA,0,13,15,9,c013a015s009
4,060014001001004,Alameda CA,0,13,15,9,c013a015s009

In [8]:
len(blocks)

710145

In [9]:
len(xwalk)

710145

In [10]:
merged = pd.merge(blocks, xwalk, on='geoid')

In [11]:
len(merged)

710145

In [12]:
type(merged)

geopandas.geodataframe.GeoDataFrame

In [13]:
merged[['district_code','geometry','population']].head()

  district_code                                           geometry  population
0  c013a018s009  POLYGON ((-122.124886 37.751635, -122.12476 37...           0
1  c013a018s009  POLYGON ((-122.210245 37.770097, -122.210139 3...           0
2  c013a018s009  POLYGON ((-122.18212 37.794933, -122.181836 37...           0
3  c013a015s009  POLYGON ((-122.27004 37.833991, -122.270125 37...           0
4  c013a018s009  POLYGON ((-122.227202 37.778303, -122.227263 3...           0

In [14]:
merged[['district_code','geometry','population']].info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 710145 entries, 0 to 710144
Data columns (total 3 columns):
district_code    710145 non-null object
geometry         710145 non-null object
population       710145 non-null int64
dtypes: int64(1), object(2)
memory usage: 21.7+ MB

In [15]:
uniquedist = merged[['district_code','geometry','population']].dissolve(by='district_code', aggfunc='sum')

In [16]:
shp = uniquedist.reset_index()

In [17]:
shp.head()

  district_code                                           geometry  population
0  c001a001s001  POLYGON ((-121.136581 39.638104, -121.136579 3...      410419
1  c001a001s004  POLYGON ((-121.528982 39.640827, -121.5292 39....       19698
2  c001a003s004  POLYGON ((-122.921689 39.79831, -122.924462 39...      266086
3  c001a005s001  POLYGON ((-121.174117 38.908938, -121.174085 3...        1632
4  c001a006s001  POLYGON ((-121.162373 38.927164, -121.162433 3...        3754

In [18]:
shp.population.sum()

37253956

In [19]:
len(shp)

389

In [20]:
colors = pd.read_csv('color-byuniquedistricts-overyears.csv')

In [21]:
colors.head()

  district_code color_13 color_15 color_17 color_19
0  c001a001s001      red      red      red      red
1  c001a001s004      red      red      red      red
2  c001a003s004      red      red      red      red
3  c001a005s001      red      red      red      red
4  c001a006s001      red      red      red      red

In [22]:
len(colors)

389

In [23]:
geodata = shp.merge(colors)

In [24]:
len(geodata)

389

In [25]:
geodata.head()

,district_code,geometry,population,color_13,color_15,color_17,color_19
0,c001a001s001,"POLYGON ((-121.136581 39.638104, -121.136579 3...",410419,red,red,red,red
1,c001a001s004,"POLYGON ((-121.528982 39.640827, -121.5292 39....",19698,red,red,red,red
2,c001a003s004,"POLYGON ((-122.921689 39.79831, -122.924462 39...",266086,red,red,red,red
3,c001a005s001,"POLYGON ((-121.174117 38.908938, -121.174085 3...",1632,red,red,red,red
4,c001a006s001,"POLYGON ((-121.162373 38.927164, -121.162433 3...",3754,red,red,red,red

In [26]:
geodata.to_file('ca-blocks-shapes/unique-districts-colors.shp')

/home/ryan/.virtualenvs/censusqueries/lib/python3.6/site-packages/geopandas/io/file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

In [31]:
geodatasimp = geodata.copy()
geodatasimp['geometry'] = geodatasimp['geometry'].simplify(tolerance=0.001)
geodatasimp.to_file('ca-blocks-shapes/unique-districts-colors-simplified.shp')

In [32]:
!ogr2ogr -f KML ca-blocks-shapes/unique-districts-colors-simplified.kml ca-blocks-shapes/unique-districts-colors-simplified.shp

Warning 1: Layer name 'unique-districts-colors-simplified' adjusted to 'unique_districts_colors_simplified' for XML validity.
Warning 1: The output driver does not seem to natively support Integer64 type for field population. Converting it to Real instead. -mapFieldType can be used to control field type conversion.