In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
violations = pd.read_csv('data.csv')

In [5]:
violations.head()

        CITY  TOTAL VIOLATIONS neighborhood  population    white
0  ALMAHNBRA                 5     Alhambra     84866.0   7722.0
1   ALTADENA                 1     Altadena     44650.0  17385.0
2    ARCADIA                 7      Arcadia     57302.0  13644.0
3    ARTESIA                 2      Artesia     16789.0   3357.0
4      AZUSA                 4        Azusa     47322.0   9413.0

In [6]:
mapla = pd.read_csv('mapla_race_LA_community_2016.csv')

In [7]:
mapla.head()

,community_name,community_type,community_parent,tot_pop_univ,white,black,asn,hisp,oth,pct_tot_pop_univ,pct_white,pct_black,pct_asn,pct_hisp,pct_oth
0,Acton,Unincorporated neighborhood,Acton,7226.242164,5358.564287,157.866196,108.394164,1296.195217,305.222300,1.0,0.741542,0.021846,0.015000,0.179373,0.042238
1,Adams-Normandie,Incorporated neighborhood,Adams-Normandie,17173.318153,1094.246151,3737.009035,1345.035721,10784.346299,212.680946,1.0,0.063718,0.217606,0.078321,0.627971,0.012384
2,Agoura Hills,City,Agoura Hills,20631.057701,15698.539269,326.922526,1334.925552,2649.295683,621.374671,1.0,0.760918,0.015846,0.064705,0.128413,0.030118
3,Agua Dulce,Unincorporated neighborhood,Agua Dulce,3500.769739,2550.826748,11.423372,82.937442,621.517179,234.064998,1.0,0.728647,0.003263,0.023691,0.177537,0.066861
4,Alhambra,City,Alhambra,84866.000000,7722.000000,1494.000000,42902.000000,31289.000000,1459.000000,1.0,0.090991,0.017604,0.505526,0.368687,0.017192